@font-face
{
  font-family: Nassim;
  src: url('../font/bbc-nassim-regular.ttf')
}

@fs : 23px;
@fs_sm: 20px;

body {
  direction: rtl;
  font-size: @fs !important;
}

* {
  font-family: Nassim;
  font-weight: normal;
}

h3 {
  font-family: Nassim;
  font-weight: bold;
}

.header {
  position: relative;
  margin-top: 40px;
  div {
    font-family: Arial !important;
    width: 100px;
    height: 100px;
    font-weight: bold !important;
    font-size: 50px;
    margin:auto;
    z-index: 2;
    display: inline-block;
  }
  label{
  }
}

//Overriding Bootstrap for RTL support
.navbar-nav > li > a {
  padding-bottom: 19px !important;
  padding-top: 19px !important;
}

.btn, .navbar *{
  font-size: @fs_sm !important;
}

.carousel-inner {
  .item {
    background-color: gray;
    height: 300px;
    width: 100%;
  }
}

div .panel {
  &.slider {
    .panel-body {
      padding: 0;
    }
  }
}