@font-face
{
  font-family: Nassim;
  src: url('../font/bbc-nassim-regular.ttf')
}

@fs : 18px;
@fs_sm: 17px;

body {
  background-color: #eee;
  direction: rtl;
  font-size: @fs !important;
}

* {
  font-family: Nassim;
  font-weight: normal;
}

h3 {
  font-family: Nassim;
  font-weight: bold;
}

.navbar-brand{
  font-family: Arial !important;
  color: #ffffff !important;
  font-weight: bold;
}

//Overriding Bootstrap for RTL support
.navbar-nav > li > a {
  padding-bottom: 17px !important;
  padding-top: 17px !important;
}

.btn, .navbar *{
  font-size: @fs_sm !important;
}

.carousel-inner {
  .item {
    background-color: gray;
    height: 300px;
    width: 100%;
  }
}

div .panel {
  &.slider {
    .panel-body {
      padding: 0;
    }
  }
}

.container{
  margin-top:70px;
}

.footer {
  width: auto;
  text-align: center;
  border-top: 1px solid lightgrey;
  padding: 20px;
  margin-top: 20px;
}

.thumbnail {
  .img-wrapper{
    background-color: #D3D3D3;
    display: table-cell;
    height: 176px;
    text-align: center;
    vertical-align: middle;
    width: 220px;
    img {
      max-height: 176px;
      margin: auto;
      max-width: 220px;
    }
  }
}

.tag-group {
  padding: 0 !important;
  .tag-group-item {
    list-style-type: none;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 10px;
    a {
      float: left;
      padding: 3px;
    }
  }
}

.wait-list {
  position: fixed;
  width: 300px;
  left: 20px;
  bottom: 20px;
  .wait-item {
    width: 100%;
    background-color: #ffeda5;
    border: 1px solid darken(#ffeda5, 10%);
    padding: 10px;
    margin-top: 10px;
    &.error {
      background-color: #ffc5d9;
      border: 1px solid darken(#ffc5d9, 10%);
    }
    &.success {
      background-color: #94d099;
      border: 1px solid darken(#94d099, 10%);
    }
  }
}

.inline-radio{
  display: inline-block;
  margin: 5px !important;

}

.carousel a h3{
  color: white !important;
}

.panel-body.list {
  padding: 0;
  a {
    display: block;
    padding: 10px;
    &:hover {
      background-color: #EEE;
      text-decoration: none;
    }
  }
}

.padding-none {
  padding: 0 !important;
}

.btn.sm {
  font-size: 15px !important;
}