@font-face
{
  font-family: Nassim;
  src: url('../font/bbc-nassim-regular.ttf')
}

@fs : 23px;
@fs_sm: 20px;

body {
  direction: rtl;
  font-size: @fs !important;
}

* {
  font-family: Nassim !important;
  font-weight: normal !important;
}

.btn, .navbar *{
  font-size: @fs_sm !important;
}