{% extends "seller/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block menu %}
    {% include 'seller/menu.html' with active='products'%}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
محصولات من
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>نام محصول</th>
                <th>قیمت</th>
                <th>فروش</th>
                <th>تاریخ ایجاد</th>
                <th></th>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th>{{ product.name }}</th>
                    <th>{{ product.price }}</th>
                    <th>{{ product.sold }}</th>
                    <th>{{ product.creation_time }}</th>
                    <th><a class="btn btn-primary">تغییر</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}