{% extends "seller/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block menu %}
    {% include 'seller/menu.html' with active='trans'%}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
تراکنش‌ها
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th>نام محصول</th>
            <th>تعداد</th>
            <th>خریدار</th>
            <th>تاریخ خرید</th>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th>{{ product.name }}</th>
                    <th>4</th>
                    <th>مهسا درخشان</th>
                    <th>{{ product.creation_time }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}