{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'lib/jquery.imgareaselect-0.9.10/css/imgareaselect-animated.css' %}" rel="stylesheet">
    <link href="{% static 'lib/jquery.imgareaselect-0.9.10/css/imgareaselect-default.css' %}" rel="stylesheet">
    <link href="{% static 'lib/jquery.imgareaselect-0.9.10/css/imgareaselect-deprecated.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'lib/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    مدیریت
                </div>
                <div class="panel-body list">
                    <a href="/moderate/add-product" class="active">
                        افزودن محصول
                    </a>
                    <a>
                        لیست محصولات ارائه شده
                    </a>
                    <a>
                        فعالیت‌های من
                    </a>
                    <a>
                        تعیین سطح موجودی
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default" ng-controller="AddProduct">
                <div class="panel-heading">
                    افزودن محصول
                </div>
                <div class="panel-body">
                        <div class="row">
                            <form action="{% url "add_product" %}" method="post" id="add-product"
                                  enctype="multipart/form-data">
                                <div class="col-md-7">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {% if field.name != 'image' %}
                                            {% bootstrap_field field %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-5">
                                    {% bootstrap_field form.image %}
                                    <div>
                                        <img id="to-be-cropped" src="">
                                    </div>
                                    <input type="hidden" name="x1" value="[[image.x1]]">
                                    <input type="hidden" name="y1" value="[[image.y1]]">
                                    <input type="hidden" name="width" value="[[image.width]]">
                                    <input type="hidden" name="height" value="[[image.height]]">
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="alert alert-warning" ng-if="hasImage == false">
                            برای افزودن محصول ابتدا تصویر محصول را آپلود کنید.
                        </div>
                        <div class="alert alert-warning" ng-if="hasImage !== false && image.x1==null">
                            پیش از افزودن تصویر را کراپ کنید
                        </div>
                        <input type="submit" form="add-product" class="btn btn-primary" value="افزودن"
                               ng-if="hasImage !== false && image.x1 != null">
                </div>
            </div>
        </div>
    </div>
{% endblock %}