{% extends "base.html" %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'lib/jalali.js' %}"></script>
{% endblock %}

{% block body %}

<div class="row" ng-controller="ProductListCtrl">
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="product in productData.productList">
                <div class="thumbnail">
                    <a href="/product/[[product.id]]">
                        <div class="img-wrapper">
                            <img ng-src="[[product.picUrl]]">
                        </div>
                    </a>
                    <div class="caption">
                        <label>
                            <a href="/product/[[product.id]]">
                            [[product.name | limitTo:22 ]]
                            </a>
                        </label>
                        <p>[[product.price]]
                        ریال
                        </p>
                        <a href="#" class="btn btn-primary btn-sm btn-block" role="button" ng-click="addToCart(product.id)">
                            افزودن به سبد خرید
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <hr>
            <ul class="pagination">
                <li ng-repeat="page in pages" ng-class="{'active': page.active}">
                    <a href="#" ng-click="changePage(page.page)">
                        [[page.page]]
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-search"></span>
                <span ng-if="advancedSearch==false">
                    جستجو
                </span>
                <span ng-if="advancedSearch==true">
                    جستجوی پیشرفته
                </span>
            </div>
            <div class="panel-body">
                <form class="form" role="search" ng-submit="search()">
                    <div class="form-group">
                        <input type="text" name="searchQuery" class="form-control" placeholder="اجناس را جستجو کنید"
                                ng-model="searchQuery">
                    </div>
                    <div class="form-group" ng-if="advancedSearch==true">
                        <input type="text" name="from_date" class="form-control" placeholder="از تاریخ"
                               ng-model="from_date">
                    </div>

                    <div class="form-group" ng-if="advancedSearch==true">
                        <input type="text" name="to_date" class="form-control" placeholder="تا تاریخ"
                               ng-model="to_date">
                    </div>

                    <div class="form-group" ng-if="advancedSearch==true">
                        <input type="text" name="from_price" class="form-control" placeholder="از قیمت"
                               ng-model="from_price">
                    </div>

                    <div class="form-group" ng-if="advancedSearch==true">
                        <input type="text" name="to_price" class="form-control" placeholder="تا قیمت"
                               ng-model="to_price">
                    </div>
                    <div class="form-group" ng-if="advancedSearch==true" ng-model="seller">
                        <select class="form-control" name="seller" style="margin-top: 20px">
                            <option value="">
                                All
                            </option>
                            <option  value="mahsa">
                                mahsa
                            </option>
                            <option value="soheil">
                                soheil
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="category" value="[[selected]]">
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" style="width:130px"
                                data-toggle="dropdown">
                            [[ getSelectedCategory().name ]]
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="selectCategory(0, '  همه‌ی موارد')">
                                <span class="glyphicon glyphicon-ok" ng-if="selected==0"></span>
                                همه‌ی موارد
                            </a></li>
                            <li class="divider"></li>

                            {% for item in  first_level_category %}

                                <li class="dropdown-submenu">
                                    <a href="#" ng-click="selectCategory({{ item.id }}, '{{ item.name }}')">
                                        <span class="glyphicon glyphicon-ok" ng-if="selected=={{ item.id }}"></span>
                                        {{ item.name }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for child in item.children.all %}
                                            <li>
                                                <a href="#" ng-click="selectCategory({{ child.id }}, '{{ child.name }}')">
                                                    <span class="glyphicon glyphicon-ok" ng-if="selected=={{ child.id }}"></span>
                                                    {{child.name}}
                                                </a>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <input class="pull-left btn btn-primary" type="submit" value="جستجو کن">
                </form>
            </div>
            <div class="panel-footer">
                <a class="btn btn-link sm padding-none" ng-if="advancedSearch == false"
                   ng-click="activateAdvancedSearch()">
                    جستجوی پیشرفته
                </a>
                <a class="btn btn-link sm padding-none" ng-if="advancedSearch == true"
                   ng-click="deactivateAdvancedSearch()">
                    جستجوی ساده
                </a>
            </div>
        </div>
        <cart></cart>
    </div>
</div>
{% endblock %}
