{% extends "base.html" %}
{% load staticfiles %}

{% block body %}


    <!-- Modal -->
    <div class="modal fade" id="myModal"  aria-hidden="true"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
            <img src="{{ MEDIA_URL }}{{ product.image }}" width="400" style=" margin: auto; display: block">
        </div>
    </div><!-- /.modal -->

<div ng-controller="CommentCtrl">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a data-toggle="modal" href="#myModal">
                        <img src="{{ MEDIA_URL }}{{ product.image }}" class="img-responsive" alt="Responsive image" >
                    </a>
                    <h3 style="text-align: center">
                        {{ product.name }}
                    </h3>
                    <a href="#" class="btn btn-primary btn-block" role="button" ng-click="addToCart(72)">
                        اضافه کردن به سبد
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    محصولات مرتبط
                </div>
                <div class="panel-body list">
                    {% for product in product.get_related_objects %}
                        <a href="{% url 'product' product.pk %}"> {{ product.name }} </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel  panel-default">
                <div class="panel-heading">
                    مشخصات محصول
                </div>
                <div class="panel-body">
                    {{ product.description }}
                    <hr/>
                    <strong>قیمت:</strong> {{ product.price }}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    نظرات:
                </div>
                <div class="panel-body">
                    <ul class="tag-group">
                        <li class="tag-group-item" ng-repeat="comment in getCurrentList().commentList">
                            [[  comment.name |limitTo:20 ]] :
                            <br>
                            [[ comment.message | limitTo:50 ]]

                        </li>
                    </ul>
                    <ul class="pagination">
                        <li ng-repeat="page in pages" ng-class="{'active': getActive(page)}">
                            <a href="#" ng-click="changePage(page.pageNum)">
                                [[page.pageNum]]
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <form ng-submit="addComment()" class="form">
                        <div class="form-group">
                            <input class="form-control" type="text" size="20" ng-model="name" placeholder="نام">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" size="45" ng-model="comment" placeholder="نظر"></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="نظر بدهید">
                    </form>

                </div>
            </div>
        </div>
        <div  class="col-md-4">
            <cart></cart>
        </div>

    </div>
</div>

{% endblock %}
