{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="T_T">

<head>
    <title>{% block title %}T_T{% endblock %}</title>
    {% block css %}
        <link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/bootstrap/dist/css/bootstrap-rtl.css' %}" rel="stylesheet">
        <link href="{% static 'css/global.less' %}" rel="stylesheet/less" type="text/css">
        <link href="{% static 'css/submenu.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block js %}
        <script src="{% static 'lib/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'lib/less-1.3.3.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'lib/angular.js' %}"></script>
        <script src="{% static 'js/utils/global.js' %}"></script>
        <script src="{% static 'js/utils/angular-tags.js' %}"></script>
        <script src="{% static 'js/services/shopping-cart.js' %}"></script>
        <script src="{% static 'js/controllers/categories.js' %}"></script>
        <script src="{% static 'js/controllers/product-list.js' %}"></script>
        <script src="{% static 'js/controllers/shopping-cart.js' %}"></script>
    {% endblock %}
</head>

<body>
<div class="container">
    {% include "menu.html" %}
    {% block body %}
    {% endblock %}
</div>
<div class="footer">
   فروشگاه اینترنتی تی‌تی ساخته شده توسط مهسا درخشان و سهیل به‌نژاد
    <br>
    تمامی حقوق محفوظ است
</div>
</body>
</html>
