{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 2000
            }).carousel('cycle');
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" ng-controller="RemoteSearch">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-search"></span>
                    جستجو در محصولات
                </div>
                <div class="panel-body">
                    <form class="form" method="GET" action="/list">
                        <div class="form-group">
                            <input type="text" name="search" class="form-control" placeholder="اجناس را جستجو کنید">
                            <input type="hidden" name="category" value="[[selected]]">
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" style="width:130px"
                                    data-toggle="dropdown">
                                [[ getSelectedCategory().name ]]
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="selectCategory(0)">
                                    <span class="glyphicon glyphicon-ok" ng-if="selected==0"></span>
                                    همه‌ی موارد
                                </a></li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu" ng-repeat="c in category.getfirstLevelCategories()">
                                    <a href="#" ng-click="selectCategory(c.id)">
                                        <span class="glyphicon glyphicon-ok" ng-if="selected==c.id"></span>
                                        [[c.name]]
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="child in category.getCategoryChildren(c.id)">
                                            <a href="#" ng-click="selectCategory(child.id)">
                                                <span class="glyphicon glyphicon-ok" ng-if="selected==child.id"></span>
                                                [[child.name]]
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <input class="pull-left btn btn-primary" type="submit" value="جستجو کن">
                    </form>
                </div>
            </div>
            <cart></cart>
            <div class="panel panel-default">
                <div class="panel-heading">
                    آخرین محصولات
                </div>
                <div class="panel-body list">
                    {% for product in last_products %}
                        <a href="{% url 'product' product.pk %}">{{ product.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    محصولات پر طرفدار
                </div>
                <div class="panel-body list">
                    {% for product in pop_products %}
                        <a href="{% url 'product' product.pk %}">{{ product.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default slider">
                <div class="panel-heading">
                    محصولات پرفروش
                </div>
                <div class="panel-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for item in slider_items %}
                                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"
                                        class= "{% if forloop.counter == 1 %} active {% endif %}"></li>
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for item in slider_items %}
                                <div class="item {% if forloop.counter == 1 %} active {% endif %}">
                                    <div class="carousel-caption">
                                        <img class="img-circle" width="150" height="150"
                                             src="{{ MEDIA_URL }}{{ item.slider_image }}">
                                        <a href="{% url 'product' item.product.pk %}">
                                            <h3>{{ item.product.name }}</h3>
                                        </a>
                                        <p>{{ item.product.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    آخرین اخبار
                </div>
                <div class="panel-body" style="text-align: justify">
                    <strong>{{ last_news.title }}</strong>
                    <hr>
                    {{ last_news.description | linebreaks}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
