{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <div class="header">
        <div>T_T</div>
        <label>فروشگاه لوازم فرهنگی</label>
    </div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">فروشگاه تی‌_تی</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">خانه</a></li>
                <li><a href="#">جستجو</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">پایین‌رو<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">خانه</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="جستجو">
                </div>
                <button type="submit" class="btn btn-default">جستجو کن</button>
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    پیشنهاد ما برای شما
                </div>
                <div class="panel-body">
                    aeou
                    aeou<br>
                    oaue<br>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    برترین محصولات
                </div>
                <div class="panel-body">
                    aeou
                    aeou<br>
                    oaue<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    محصولات پرطرفدار
                </div>
                <div class="panel-body">
                    aeou
                    aeou<br>
                    oaue<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    پیشنهاد ما برای شما
                </div>
                <div class="panel-body">
                    aeou
                    aeou<br>
                    oaue<br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
