{% extends "base.html" %}

{% block body %}
    <div class="navbar navbar-inverse">
        <div class="navbar-collapse collapse navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#fakeLink">Test</a>
                    <ul>
                        <li><a href="#s1">Submenu 1</a></li>
                        <li><a href="#s1">Submenu 2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    this is a <a class="btn btn-primary">BUTTON</a>
{% endblock %}
