{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                سبد خرید

                <span class="glyphicon glyphicon-shopping-cart"></span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                             مانتو
                        <span class="glyphicon glyphicon-remove pull-left "></span>
                    </li>

                    <li class="list-group-item">
                  جوراب
                        <span class="glyphicon glyphicon-remove pull-left "></span>
                    </li>

                    <li class="list-group-item">
                   شلوار کردی راه راه آبی آسمانی
                        <span class="glyphicon glyphicon-remove pull-left "></span>
                    </li>

                    <li class="list-group-item">
مانتو شیش جیب زشت ث
                        <span class="glyphicon glyphicon-remove pull-left "></span>
                    </li>
                </ul>
                <div class="well well-sm">
                    <p class="pull-right">
                        جمع فاکتور:
                    </p>
                    <p class="pull-left">
                        ۴۵۰۰
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
