{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>۴۵۰۰ تومان</p>
                        <p>
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                        <a href="#" class="btn btn-primary pull-left" role="button"> جزییات </a>
                        <div class="clearfix"></div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>۴۵۰۰ تومان</p>
                        <p>
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                            <a href="#" class="btn btn-primary pull-left" role="button"> جزییات </a>
                        <div class="clearfix"></div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>۴۵۰۰ تومان</p>
                        <p>
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                            <a href="#" class="btn btn-primary pull-left" role="button"> جزییات </a>
                        <div class="clearfix"></div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>۴۵۰۰ تومان</p>
                        <p>
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                            <a href="#" class="btn btn-primary pull-left" role="button"> جزییات </a>
                        <div class="clearfix"></div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>۴۵۰۰ تومان</p>
                        <p>
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                            <a href="#" class="btn btn-primary pull-left" role="button"> جزییات </a>
                        <div class="clearfix"></div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>۴۵۰۰ تومان</p>
                        <p>
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                            <a href="#" class="btn btn-primary pull-left" role="button"> جزییات </a>
                        <div class="clearfix"></div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>۴۵۰۰ تومان</p>
                        <p>
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                            <a href="#" class="btn btn-primary pull-left" role="button"> جزییات </a>
                        <div class="clearfix"></div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>۴۵۰۰ تومان</p>
                        <p>
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                            <a href="#" class="btn btn-primary pull-left" role="button"> جزییات </a>
                        <div class="clearfix"></div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>۴۵۰۰ تومان</p>
                        <p>
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                            <a href="#" class="btn btn-primary pull-left" role="button"> جزییات </a>
                        <div class="clearfix"></div>
                        </p>
                    </div>
                </div>
            </div>
            <ul class="pagination pagination-centered">
                <li><a href="#">&raquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&laquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                سبد خرید

                <span class="glyphicon glyphicon-shopping-cart"></span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                             مانتو
                        <span class="glyphicon glyphicon-remove pull-left "></span>
                    </li>

                    <li class="list-group-item">
                  جوراب
                        <span class="glyphicon glyphicon-remove pull-left "></span>
                    </li>

                    <li class="list-group-item">
                   شلوار کردی راه راه آبی آسمانی
                        <span class="glyphicon glyphicon-remove pull-left "></span>
                    </li>

                    <li class="list-group-item">
مانتو شیش جیب زشت ث
                        <span class="glyphicon glyphicon-remove pull-left "></span>
                    </li>
                </ul>
                <div class="well well-sm">
                    <p class="pull-right">
                        جمع فاکتور:
                    </p>
                    <p class="pull-left">
                        ۴۵۰۰
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
