<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">T_T</a>
        </div>

        <ul class="nav navbar-nav">
            <li>
                <a href="/" class="nav navbar-nav"> صفحه اصلی </a>
            </li>

            <li>
                <a href="/list" class="nav navbar-nav">لیست اجناس</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">مدیریت <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/moderate/add-product">افزودن محصول</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#" class="nav navbar-nav"> درباره ما</a>
            </li>
            <li>
                <a href="#" class="nav navbar-nav"> تماس با ما</a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>