{% extends "base.html" %}
{% load staticfiles %}

{% block body %}


    <!-- Modal -->
    <div class="modal fade" id="myModal"  aria-hidden="true"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
            <img src="http://jaberangi.ir/tvtop/cinemaiirani/rahe%20abrishame%20abi.jpg" style=" margin: auto">
        </div>
    </div><!-- /.modal -->

<div ng-controller="CommentCtrl">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a data-toggle="modal" href="#myModal">
                        <img src="http://jaberangi.ir/tvtop/cinemaiirani/rahe%20abrishame%20abi.jpg" class="img-responsive" alt="Responsive image" >
                    </a>
                    <h3 style="text-align: center">
                        راه آبی ابریشم
                    </h3>
                    <a href="#" class="btn btn-primary btn-block" role="button" ng-click="addToCart(3)">
                        اضافه کردن به سبد
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    محصولات مرتبط
                </div>
                <div class="panel panel-body">
                    <div class="well well-sm">
                        راه قرمز ابریشم
                    </div>
                    <div class="well well-sm">
                        راه آبی پنبه
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel  panel-default">
                <div class="panel-heading">
                    مشخصات محصول
                </div>
                <div class="panel-body">
                    نام فیلم: راه آبی ابریشم
                    <hr/>
                    کارگردان:حسن بشکوفه
                    <hr/>
                    نویسنده:محمدرضا بزرگ‌نیا
                    <hr/>
                    بازیگران: داریوش ارجمند- بهرام رادان- پگاه آهنگرانی
                    <hr/>
                    قیمت: ۲۰۰۰تومان
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    نظرات:
                </div>
                <div class="panel-body">
                    <ul class="tag-group">
                        <li class="tag-group-item" ng-repeat="child in list.commentList">
                            [[  child.name |limitTo:20 ]] :
                            <br>
                            [[ child.message | limitTo:50 ]]

                        </li>
                    </ul>

                    <form ng-submit="addComment()">
                        <textarea type="text" size="20" ng-model="name" placeholder="نام"></textarea>
                        <input type="text" size="45" ng-model="comment" placeholder="نظر">
                        <input class="btn-primary" type="submit" value="نظر بدهید">
                    </form>

                </div>
            </div>
        </div>
        <div  class="col-md-4">
            <cart></cart>
        </div>

    </div>
</div>

{% endblock %}
